@import "partials/params";
@import "partials/mixins";

.auth {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: $auth-height;

  &__link {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
  }
}